{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<p>Start Data</p>
<ol>

	{% for user in data %}
        <li>{{ user }}</li>
    {% endfor %}
</ol>
<p>End Data</p>
<table>
	<tr>
		<td>test</td>
		<td>added</td>
		<td>Actions</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>
			<a href = ''>Delete</a>
			<a href = ''>Update</a>
		</td>
	</tr>
</table>
<form action="/classes/update" method="POST">
	<input type="text" name="name">
	<input type="number" name="grande">
	<input type="number" name="year">
	<input type="text" name="stage">
	<input type="text" name="type">
	<input type="text" name="teacher">
	<input type="text" name="notes">
	<input type="text" name="school">

	<input type="submit" name="Done">
</form>

{% endblock %}
